*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Tiro Devanagari Marathi', serif;
font-family: 'Tiro Telugu', serif;
}
.navbar{

    display: flex;
    align-items: center;
    padding: 20px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
  
    margin: 40px;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s;
}
nav ul li a:hover
{
    color:#ff523b;
   
    
}
#hvr::after{
    content: '';
    display: block;
    width:0%;
    height: 2px;
    background-color: darkgoldenrod;
    transition: width .3;
}
#hvr:hover::after{
    width: 100%;
    transition: width .3;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

.container{
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col
{
    flex-basis: 50%;
    min-width: 200px;
    margin-bottom: 0px;

}
.col img{
    max-width: 100%;
    padding: 50px 0px;
    margin-top: 0px;
}
.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn
{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{

    background: #576433;
}
.header
{
    background: radial-gradient(#fff, #05fbfb);
    
}
.header .row{
    margin-top: 15px;
}
.next{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
p1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: rgb(3, 47, 85);
    margin-left: 100px;
    
}
.para
{
    margin-top: 15px;
    flex-basis: 44%;
    min-width: 300px;
    margin-bottom: 50px;

}
.para h1{
    margin-left: 97px;
}

/* -------footer----- */

.footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}

.footer_col-1,.footer_col-2,.footer_col-3{
    
    min-width: 250px;
    margin-bottom: 20px;
}
.footer_col-1{
    flex-basis: 30%;
}


.footer_col-2{
    flex: 1;
    text-align: center;
}
.footer_col-2 img{

    width: 180px;
    margin-bottom: 20px;
}
.footer_col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.loginpage
{   height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://wallpaperaccess.com/full/1657858.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
#login-form{
  
    display:block;
}
.form-box{
    
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;

}
.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn1
{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: .5s;
} 
.input-group-login{
    top:190px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group-register
{
    top:190px;
    position: absolute;
    width: 280px;
    transition:.5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 24px;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box
{
    margin: 30px 10px 34px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#login input{
    color:white;
    font-size: 15;
}
#register{
    left: 450px;
}
#register input{
    color:#fff;
    font-size: 15;
}